# Archivos de entorno virtual
venv/
.env

# Archivos de caché y compilación
__pycache__/
*.pyc
*.pyo

# Configuración de IDEs
.vscode/
.idea/

# Archivos de logs
*.log
py_loco
requirements.txt
rxconfig.py
.states
.vscode